<h1><%= @song.title %></h1>

<p>
  Artist: <%= @song.artist %>
</p>

<p>
  Number of Upvotes: <%=@song.votes.count%>
</p>
<p>
  Posted By: <%=@song.user.username%>
</p>
<%unless @song.url.empty? %>
  <p>
    Url: <a href="<%=@song.url%>"><%=@song.url%></a> 
  </p>
<% end %>
<p>
  Created At: <%=@song.created_at%>
</p>

<hr/>
<a href="/music_wall">Back to All Songs</a>